
<%- include("header") -%>

  <div class="box" id="heading">
    <h1>Hello Programmar</h1>
  </div>

  <div class="box">

      <p> This is a very good test of webserver </p>
  </div>



<%- include("footer") -%>
